.hero {
    position: relative;
    min-height: 60rem;
    background-color: $Very-Light-Gray;
    display: flex;
    align-items: center;


    @media screen and(max-width: 1024px) {
        &__btn {
            margin-bottom: 3rem;
        }
    }

    @media screen and(max-width: 600px) {
        min-height: 50rem;

        &__btn {
            font-size: 1.2rem;
        }
    }

    @media screen and(max-width: 375px) {
        min-height: 50rem;
    }
    
    .content {
        width: 80%;
        margin: 0 auto;

        &__text {
            width: 40%;

            @media screen and(max-width: 1024px) {
                position: absolute;
                bottom: 0;
                width: 80%;
                text-align: center;
            }

            @media screen and(max-width: 900px) {
                position: absolute;
                bottom: 0;
                width: 80%;
                text-align: center;
            }
        }

        &__title {
            color: $Dark-Blue;
            font-weight: 300;
            font-size: 5rem;
            line-height: 1.2;
            margin-bottom: 3rem;

            @media screen and(max-width: 1024px) {
                font-size: 3.6rem;
                margin-top: 2rem;
            }

            @media screen and(max-width: 900px) {
               font-size: 3.2rem;
               margin-top: 0;
            }

            @media screen and(max-width: 768px) {
                font-size: 3rem;
            }

            @media screen and(max-width: 600px) {
               font-size: 2.6rem;
               margin-bottom: 2rem;
            }

            @media screen and(max-width: 375px) {
                font-size: 2.4rem;
            }
        }
    
        &__p {
            color: $Grayish-Blue;
            margin-bottom: 3rem;
            line-height: 1.4;
            font-size: 1.8rem;

            @media screen and(max-width: 1024px) {
                font-size: 1.6rem;
            }

            @media screen and(max-width: 900px) {
                font-size: 1.5rem;
             }

             @media screen and(max-width: 768px) {
                font-size: 1.4rem;
            }

            @media screen and(max-width: 600px) {
                font-size: 1.2rem;
            }
        }
    
        &__image {
            width: 60%;
            background-image: url('../img/bg-intro-desktop.svg');
            background-position: 70px -232px;
            background-repeat: no-repeat;
            background-size: 138%;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;

            @media screen and(max-width: 1024px) {
                height: 30rem;
                width: 100%;
                background-position: -100px -640px;
                background-size: 138%;
                background-repeat: no-repeat;
            }

            @media screen and(max-width: 900px) {
                background-size: 140%;
            }

            @media screen and(max-width: 768px) {
                background-size: 180%;
            }

            @media screen and(max-width: 600px) {
                background-size: 243%;
            }

            @media screen and(max-width: 415px) {
                background-position: bottom center;
                background-size: 170%;
            }

            @media screen and(max-width: 375px) {
                background-position: center -292px;
                background-size: 170%;
            }

        }

        &__image::after {
            content: '';
            height: 200%;
            width: 115%;
            background-image: url('../img/image-mockups.png');
            background-position: 355px -110px;
            background-repeat: no-repeat;
            background-size: 75%;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;

            @media screen and(max-width: 1024px) {
                width: 100%;
                height: 200%;
                background-position: center 3rem;
                background-size: 28%;
                background-repeat: no-repeat;
            }

            @media screen and(max-width: 900px) {
                background-size: 32%;
            }

            @media screen and(max-width: 768px) {
                background-size: 36%;
            }

            @media screen and(max-width: 600px) {
                background-size: 38%;
            }

            @media screen and(max-width: 415px) {
                background-size: 42%;
            }

            @media screen and(max-width: 375px) {
                background-size: 80%;
                background-position: center -107px;
            }
        }
    }
}
